<div class="col-md-3 col-xs-6 pt-2 my-2">
    <img class="image" src="{{icecek.image.url}}" alt="{{icecek.name}}">
    <h4 class="text-center" id="product{{icecek.id}}">{{icecek.name}}</h4>
    <h6 class="text-center" id="category{{icecek.id}}">{{icecek.category}}</h6>
    <p class="text-center" id="productprice{{icecek.id}}">{{icecek.price}}</p>
    <div class="d-flex justify-content-center">
        <button class=" btn btn-primary button" onclick="addProduct('{{icecek.id}}')" type="submit" style="margin-top: 35px;">Sepete Ekle</button>
    </div>
</div>
