{% extends "menu/base.html" %}


{% block title %}
    Sipariş Detayı
{% endblock title %}
    

{% block content %}
  
  <h1 class="text-center mt-3">Sipariş Detayı</h1>
  <div class="d-flex justify-content-center mt-5">
    <div class="w-75">
      <div class="card w-100">
        <div class="card-body">
          <h3 class="card-title text-center">Nurhak ŞEKERCİ</h3>
          <h3 class="card-title text-center">+905054471953</h3>
          <h5 class="card-title text-center">Adres Bilgisi: Nuripaşa Mahallesi 62/2. Sokak No: 1 D: 9 Zeytinburnu/İSTANBUL</h5>
          <h5 class="card-title text-center">Sipariş Detayı: Pide bol acılı olsun</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">Ürün listesi</h6>
          <ol class="card-subtitle mb-2 text-muted text-center">
            <li style="list-style: none;" class="card-subtitle m-3 text-muted">Mercimek Çorbası</li>
            <li style="list-style: none;" class="card-subtitle m-3 text-muted">Kuşbaşılı Pide</li>
            <li style="list-style: none;" class="card-subtitle m-3 text-muted">1 Lt Coca Cola</li>
          </ol>
          <p class="card-text text-center">Tutar : 380₺</p>
          <p class="card-text text-center">Sipariş Durumu : İletildi</p>
          <p class="card-footer text-center">Bizi Tercih Ettiğiniz İçin Teşekkür Ederiz.</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="card-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}
    